					Функциональные требования
Тема: Онлайн-магазин.

Роли пользователей:
	- Покупатель
	- Продавец
	- Администратор

Требования к функционалу:
 - Должно производиться логгирование всех действий пользователей.

1.Для всех пользователей:
	a. Возможность регистрации.
	b. Возможность авторизации.
2.Для покупателя:
	a. Просмотр, возможность редактирования, добавления и удаления данных, указанных при регистрации, в Личном кабинете.
	b. Просмотр доступных доступных товаров с последующим добавлением товара в корзину.
	c. Возможность покупки товара у определенного продавца.
3.Для продавца:
	a. Просмотр, возможность редактирования, добавления и удаления данных, указанных при регистрации, в Личном кабинете.
	b. Взаимодействие(crud) с товарами для продажи.
	c. Просмотр продаж.
4.Для администратора:
	a.Управление пользователями (crud).
	b.Просмотр логов.